<div class="homepage">
  <div id="welcome-div">
    <div id="welcome-msg">
      <h1>Hello,</h1>
      <p class="typing">Welcome to my personal blog. Scroll down to know more about me.</p>
      <div class="btn-group">
        <a class="btn" href="/posts">View blog</a>
        <a class="btn" href="https://nikhilvemula.dev/resume/Nikhil%20Vemula.pdf">View resume</a>
      </div>
    </div>
  </div>
  <div id="about-div">
    <img src="/programming.svg" />
    <h1>About</h1>
    <p>I'm <b>Nikhil Vemula</b>, a passionate and dedicated software developer with a love for crafting efficient and user-friendly applications. From developing responsive websites that enhance user experience to creating robust and scalable backend systems, I approach each project with a focus on innovation and efficiency. Whether it's collaborating with a team or working independently, I thrive in dynamic environments where I can apply my technical expertise to drive impactful results.
    </p>
  </div>
</div>
<div id="timeline-div">
  <h1>Work Experience</h1>
  <ul>
      <li style="--accent-color:#41516C">
          <div class="date">2022</div>
          <div class="title">Senior Software Engineer, Servicenow</div>
          <div class="descr">Worked on a project to improve website loading performance by 80% working along with a group of engineers. Also, worked on providing fix for customer bugs for 10% of the priority issues.</div>
      </li>
      <li style="--accent-color:#FBCA3E">
          <div class="date">2022</div>
          <div class="title">Software Engineer, Servicenow</div>
          <div class="descr">Led development for displaying org-chart feature under 2-seconds and scalable for a million users.Also, led a team to build a large-scale integration application with Microsoft SharePoint to index documents using AI search for search.</div>
      </li>
      <li style="--accent-color:#E24A68">
          <div class="date">2020</div>
          <div class="title">Associate Software Engineer, Servicenow</div>
          <div class="descr">Worked on multiple project to deliver the features on time.Also, improved code coverage by 5% by writing end-to-end automation tests. Implemented a static analyzer tool to identify code smells before integration into the codebase.</div>
      </li>
      <li style="--accent-color:#1B5F8C">
          <div class="date">2018</div>
          <div class="title">Bachelors in Computer Science</div>
          <div class="descr">Graduated in Computer Science from CBIT, one of the best engineering colleges in my state.</div>
      </li>
      <!-- <li style="--accent-color:#4CADAD">
          <div class="date">2022</div>
          <div class="title">Title 5</div>
          <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
      </li> -->
  </ul>
  <p style="margin: auto;">Check out my <b><a style="text-decoration: underline;" href="https://nikhilvemula.dev/resume/Nikhil%20Vemula.pdf" target="_blank">Resume</a></b> for more details</p>
</div>